# Ignore large data folders
strict/
strict-small/
stream/
pipeline_output/

# Large generated artifacts
pipeline_output/

# Optional: only ignore specific txt outputs, not all txt
# *.txt  <-- remove unless you really want this

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# OS / misc
.DS_Store